@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.04s linear;
  color: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$red: #f00;
$black : #000;
$white : #fff;
$light-white : #aaa;
$light-black : #111;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:1.5rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track-piece {
    background: $black;
  }
  &::-webkit-scrollbar-track-thumb {
    background: $red;
  }
}

section {
  padding: 5rem 9%;
}

@media (max-width: 991px) {
  section{
    padding: 3rem 2rem;
   }
   .slide {
     padding: 2rem 5%;

     .content {
       width: 50rem;

       h3{
         font-size: 4rem;
       }
     }
   }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

.pricing {
  @include grid(32rem);
}

.team {
  
  .box-container {
    @include grid(32rem);

    .box{
      height: 50rem;
      overflow: hidden;
      position: relative;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        bottom: 0;
        left: 0;
        background: white;
        padding: 1rem 2rem;
      }
    }
  }
}
